*{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
header{
    position:sticky;
    top:0;
}

nav{
    background-color: pink;
    height:10vh;
    position:sticky;
}
.container{
    background-color: greenyellow;
    margin:12px 34px;
    height: 250px;
    text-align: center;
    padding: 30px 30px;
}
.box1{
    background-color: pink;
    height:50vh;
    width:35vw;
    display: inline-block;
    padding: 0px 20px;
    margin:8px 10px;
    
    
    
   
}
.box2{
    background-color: blue;
    height:50vh;
    width:35vw;
    display: inline-block;
    padding: 0px 20px;
    margin:8px 10px;

}
footer{
    height:80px;
    background-color: rgb(132, 214, 189);
}
.textbox{
    padding:0px 40px;
    text-align: center;
    border: 5px solid rgb(0, 222, 252);
    border-radius: 100px;
    /* width: 150px; */
    margin: 40px 300px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}
.orangebox{
    height:15px;
    width: 15px;
    background-color: orange;
    position:fixed;
    right:30px;
    bottom:25px;
    border-radius: 20px;
}
